# This file is used to store sensitive information such as API keys, addresses, and other configuration settings.
# It is important to keep this file secure and not share it publicly.

# Wallets
# These are the wallet addresses and private keys for the HyperCombo bot.
# Live Wallet 1
wallet=yourwalletaddresshere
key=yourwalletprivatekeyhere
